{{partial "navigation"}}

<div class="container section">
  <div class="row header text-center">
    <div class="col-md-2 col-sm-2">
      <h5>Awaiting Confirmation</h5>
      <h4>{{aConfirmation}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Awaiting Materials</h5>
      <h4>{{aMaterials}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Awaiting Production</h5>
      <h4>{{aProduction}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Order In Production</h5>
      <h4>{{inProduction}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Complete (Awaiting Inspection)</h5>
      <h4>{{complete}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Ready To Dispatch</h5>
      <h4>{{ready}}</h4>
    </div>
  </div>
  <div class="row">
    {{ember-chart type='line' data=chartData height=100}}
  </div>
</div>
<div class="container section">
  <div class="row">
    <ul class="sort">
      <li><a>Sort By:</a></li>
      <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{customerSort}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a {{action "selectCustomer" "all"}}>All</a></li>
            {{#each customers as |customer|}}
              <li><a {{action "selectCustomer" customer}}>{{customer.fullName}}</a></li>
            {{/each}}
          </ul>
        </span>

      <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{itemType}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a {{action "selectItem" "all"}}>All</a></li><br>
            {{#each items as |item|}}
              <li><a {{action "selectItem" item}}>{{item.name}}</a></li>
            {{/each}}
          </ul>
        </span>

      <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{statusSort}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a {{action "sortStatus" "all"}}>All</a></li>
            <li><a {{action "sortStatus" "Awaiting Confirmation"}}>Awaiting Confirmation</a></li>
            <li><a {{action "sortStatus" "Awaiting Materials"}}>Awaiting Material</a></li>
            <li><a {{action "sortStatus" "Awaiting Production"}}>Awaiting Production</a></li>
            <li><a {{action "sortStatus" "In Production"}}>In Production</a></li>
            <li><a {{action "sortStatus" "Complete"}}>Complete (Awaiting Inspection)</a></li>
            <li><a {{action "sortStatus" "Ready To Dispatch"}}>Ready To Dispatch</a></li>
          </ul>
        </span>
    </ul>
  </div>
  <div class="row main">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-4 list">
        <h5>Orders</h5>
        <ul class="list-group">
          {{#if showingSortedList}}
            {{#each sortedList as |order|}}
              <li class="list-group-item {{if order.isRed "red"}} {{if order.isGreen "green"}} {{if order.isOrange "orange"}}" {{action "select" order}}>{{order.transactionID}} - {{order.status}}</li>
            {{else}}
              <h5>No orders found</h5>
            {{/each}}
          {{else}}
            {{#if selectedCustomer}}
              {{#each selectedCustomer.transactions as |order|}}
                <li class="list-group-item {{if order.isRed "red"}} {{if order.isGreen "green"}} {{if order.isOrange "orange"}}" {{action "select" order}}>{{order.transactionID}} - {{order.status}}</li>
              {{else}}
                <h5>Customer has no order history</h5>
              {{/each}}
            {{else}}
              {{#each model as |order|}}
                <li class="list-group-item {{if order.isRed "red"}} {{if order.isGreen "green"}} {{if order.isOrange "orange"}}" {{action "select" order}}>{{order.transactionID}} - {{order.status}}</li>
              {{/each}}
            {{/if}}
          {{/if}}
        </ul>
      </div>
      <div class="col-md-8 col-sm-8 summary">
        {{#if selectedOrder}}
          <h4>{{selectedOrder.transactionID}}<br>{{selectedOrder.status}}</h4>
          <p>
            Customer: <strong>{{selectedOrder.customer.fullName}}</strong><br>
            Bike Type: <strong>{{selectedOrder.bikeType}}</strong><br>
            ETA: <strong>{{selectedOrder.etaFormatted}}</strong>
          </p>

          <h5>Order Manifest</h5>
          <ul class="list-group">
            {{#each selectedOrder.manifest.parts as |line|}}
              <li class="list-group-item col-sm-12 col-md-12"><p class="col-sm-6 col-md-6 left text-left"><strong>{{line.part}}</strong></p><p class="col-sm-6 col-md-6 right text-right">Quantity: <string>{{line.quantity}}</string></p></li>
            {{/each}}
          </ul>
        {{else}}
          <h5>No Order Selected</h5>
        {{/if}}
      </div>
    </div>
  </div>
</div>