{{partial "navigation"}}

<div class="container section">
  <div class="row header">
    <div class="col-md-4 col-sm-4">
      <h5>Processing Orders</h5>
      <h4>{{processingItems}}</h4>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5>Missing Items</h5>
      <h4>{{missingItems}}</h4>
    </div>
    <div class="col-md-4 col-sm-4">
      <h5>Complete</h5>
      <h4>{{completeItems}}</h4>
    </div>
  </div>
  <div class="row">
    {{ember-chart type='line' data=chartData height=100}}
  </div>
  <div class="row main">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-4 list">
        <h5>Orders</h5>
        <ul class="list-group">
          {{#each model as |order|}}
            <li class="list-group-item {{if order.isMissingItems "red"}} {{if order.isComplete "green"}} {{if order.isProcessing "orange"}}" {{action "select" order}}>{{order.transactionID}} - {{order.status}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-8 col-sm-8 summary">
        {{#if selectedOrder}}
          <h4>{{selectedOrder.transactionID}}<br>{{selectedOrder.status}}</h4>
          <p>
            Total Cost: <strong>{{selectedOrder.totalHuman}}</strong>
            <br>
            ETA: <strong>{{selectedOrder.eta}}</strong>
            <br>
            {{#if selectedOrder.note}}Note: <strong>{{selectedOrder.note}}</strong>{{/if}}
            {{#if selectedOrder.rejectDelivery}}<strong>DELIVERY WAS REJECTED</strong>{{/if}}
          </p>

          <h5>Order Lines</h5>
          <ul class="list-group">
            {{#each selectedOrder.lines as |line|}}
              <li class="list-group-item">{{line.name}} {{line.quantity}}x</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>