{{partial "navigation"}}

<div class="container section">
  <div class="row">
    <p>Orders Dashboard for Staffs Bike System</p>
  </div>
  <div class="row header">
    <div class="col-md-3 col-sm-3">
      <h5>Awaiting Confirmation</h5>
      <h4>{{aConfirmation}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Awaiting Materials</h5>
      <h4>{{aMaterials}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>In Production</h5>
      <h4>{{inProduction}}</h4>
    </div>
    <div class="col-md-3 col-sm-3">
      <h5>Complete (Awaiting Inspection)</h5>
      <h4>{{complete}}</h4>
    </div>
    <div class="col-md-2 col-sm-2">
      <h5>Ready</h5>
      <h4>{{ready}}</h4>
    </div>
  </div>
  <div class="row">
    {{ember-chart type='line' data=chartData height=100}}
  </div>
  <div class="row main">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-4 col-sm-4 list">
        <h5>Orders</h5>
        <ul class="list-group">
          {{#each model as |order|}}
            <li class="list-group-item {{if order.isRed "red"}} {{if order.isGreen "green"}} {{if order.isOrange "orange"}}" {{action "select" order}}>{{order.transactionID}} - {{order.status}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="col-md-8 col-sm-8 summary">
        {{#if selectedOrder}}
          <h4>{{selectedOrder.transactionID}}<br>{{selectedOrder.status}}</h4>
          <p>
            Total Cost: <strong>{{selectedOrder.totalHuman}}</strong>
            <br>
            ETA: <strong>{{selectedOrder.eta}}</strong>
            <br>
            {{#if selectedOrder.note}}Note: <strong>{{selectedOrder.note}}</strong>{{/if}}
            {{#if selectedOrder.rejectDelivery}}<strong>DELIVERY WAS REJECTED</strong>{{/if}}
          </p>

          <h5>Order Lines</h5>
          <ul class="list-group">
            {{#each selectedOrder.lines as |line|}}
              <li class="list-group-item">{{line.name}} {{line.quantity}}x</li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div>